// Configuration
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "variables";
@import "variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Bootstrap main file

@import "../../node_modules/bootstrap/scss/bootstrap";

// Color variables

$main-color-dark: #3e3e3e;
$main-color-light: #f4e9d9;
$main-color-white: #fafafa;

// Color utilities

.main-color-light {
  background-color: $main-color-light;
}

.light-font {
  color: $main-color-white;
}

.main-color-white {
  background: $main-color-white;
}

.main-color-dark {
  background: $main-color-dark;
}

// My custom styles

// Root-styles

html * {
  color: $main-color-dark;
  font-family: Inter;
}

.font-source-serif-4 {
  font-family: "Source Serif 4";
}

// Utilities

.nav-links-ul {
  gap: 20px;
}

.nav-links-ul a,
.footer-links a {
  text-decoration: none;
}

.nav-links-ul a:hover {
  text-decoration: underline;
}

.list-style-off {
  list-style: none;
}

.active {
  font-weight: 500;
}

.active-underlined {
  text-decoration: underline;
}

.hero-banner {
  height: 300px;
}

.object-fit-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.padding-2-rem {
  padding: 2rem;
}

#last-chance-frontpage {
  overflow-y: hidden;
  flex-wrap: nowrap;
}

.border-none {
  border: none;
}

.border-bottom-black {
  border-bottom: 1px solid $main-color-dark;
}

.border-radius-none {
  border-radius: 0;
}

.mw-261px {
  max-width: 261px;
}

.form-width-dialog {
  max-width: 363px;
}

.cursor-pointer {
  cursor: pointer;
}

// Dialog styling

dialog {
  z-index: 100;
  width: 100vw;
  min-height: 800px;
  position: absolute;
  top: 0;
  border: none;
  padding: 0;
  margin: 0 auto;
}

.dialog-top-banner {
  height: 75px;
  background: $main-color-dark;
  padding: 0;
  margin: 0;
}

.dialog-title {
  font-family: "Source Serif 4";
}

#close-login-dialog,
#close-registration-dialog,
#close-listing-dialog {
  top: 75px;
  right: 0;
}

#close-search-dialog {
  top: 0;
  right: 0;
}

dialog form a {
  width: 100%;
  display: inline-block;
}

.bottom-dialog-banner {
  height: 50px;
}

#close-login-dialog,
#login-to-register-modal-switch,
#close-registration-dialog,
#close-search-dialog {
  cursor: pointer;
}

dialog::backdrop {
  background-color: $main-color-dark;
  opacity: 0.9;
}

.form-checkbox {
  height: 26px;
  width: 26px;
}

// Buttons

.white-button {
  border: 0.5 $main-color-dark solid;
}

//Font variables

$custom-fs-0-625rem: 0.625rem;
$custom-fs-0-75rem: 0.75rem;
$custom-fs-0-875rem: 0.875rem;
$custom-fs-1-125rem: 1.125rem;
$custom-fs-1-25rem: 1.25rem;
$custom-fs-1-5rem: 1.5rem;
$custom-fs-1-875rem: 1.875rem;
$custom-fs-2rem: 2rem;
$custom-fs-2-25: 2.25rem;
$custom-fs-2-5rem: 2.5rem;

// Customs font sizes

.fs-0-625rem {
  font-size: $custom-fs-0-625rem;
}

.fs-0-75rem {
  font-size: 0.75rem;
}

.fs-1-125rem {
  font-size: $custom-fs-1-125rem;
}

.fs-1-25rem {
  font-size: $custom-fs-1-25rem;
}

.fs-1-875rem {
  font-size: $custom-fs-1-875rem;
}

// Customs font sizes with breakpoints

.fs-0-875rem-lg-1-125rem {
  font-size: $custom-fs-0-875rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-1-125rem;
  }
}

.fs-1rem-lg-1-25rem {
  font-size: 1rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-1-25rem;
  }
}

.fs-1-25rem-md-1-5-rem {
  font-size: $custom-fs-1-25rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-1-5rem;
  }
}

.fs-1-5rem-lg-2-25rem {
  font-size: $custom-fs-1-5rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-2-25;
  }
}

.fs-1-5rem-md-2-5rem {
  font-size: $custom-fs-1-5rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-2-5rem;
  }
}

.fs-1-5rem-lg-1-25rem {
  font-size: $custom-fs-1-5rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-1-25rem;
  }
}

.fs-2-rem-lg-1-25rem {
  font-size: $custom-fs-2rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-1-25rem;
  }
}

.fs-2-rem-md-2-5rem {
  font-size: $custom-fs-2rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-2-5rem;
  }
}

// Media queries

@media screen and (max-width: 991px) {
  // Navigation

  .font-change-menu {
    font-family: "Source Serif 4";
  }
  .font-change-color {
    color: #fff;
  }

  .nav-links {
    background: $main-color-dark;
    padding: 50px;
    position: fixed;
    right: -125%;
    top: 0;
    transition: right 0.5s ease-in;
    z-index: 400;
  }

  .with-menu .nav-links {
    right: 0;
    transition: right 0.3s ease-out;
    z-index: 300;
  }
}

@media screen and (min-width: 768px) {
  .hero-banner {
    height: 300px;
    max-width: 50%;
    margin-left: auto;
    position: relative;
  }
  .hero-banner-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .hero-banner-text button {
    width: 50%;
  }

  // Dialog

  dialog {
    width: 75%;
    max-width: 1000px;
    top: 50px;
  }

  #close-login-dialog,
  #close-registration-dialog,
  #close-listing-dialog {
    top: 0;
    right: 0;
  }

  #return-from-register-dialog {
    top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .hero-banner {
    max-width: 50%;
    height: 400px;
  }
}

@media screen and (min-width: 1400px) {
  .hero-banner {
    max-width: 65%;
    height: 500px;
  }
}

// body .with-menu {
//   overflow: hidden;
// }
