// Configuration
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "variables";
@import "variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Bootstrap main file

@import "../../node_modules/bootstrap/scss/bootstrap";

// Color variables

$main-color-dark: #3e3e3e;
$main-color-light: #f4e9d9;
$main-color-white: #fafafa;

// Color utilities

.main-color-light {
  background: $main-color-light;
}

.light-font {
  color: $main-color-white;
}

.main-color-dark {
  background: $main-color-dark;
}

// My custom styles

html * {
  color: $main-color-dark;
  font-family: Inter;
}

.nav-links-ul {
  gap: 20px;
}

.nav-links-ul a,
.footer-links a {
  text-decoration: none;
}

.nav-links-ul a:hover {
  text-decoration: underline;
}

.list-style-off {
  list-style: none;
}

.active {
  font-weight: 500;
}

//Font variables

$custom-fs-0-875rem: 0.875rem;
$custom-fs-1-125rem: 1.125rem;
$custom-fs-1-25rem: 1.25rem;
$custom-fs-1-5rem: 1.5rem;
$custom-fs-1-875rem: 1.875rem;
$custom-fs-2rem: 2rem;
$custom-fs-2-25: 2.25rem;

// Customs font sizes

.fs-1-125rem {
  font-size: $custom-fs-1-125rem;
}

.fs-1-875rem {
  font-size: $custom-fs-1-875rem;
}

// Customs font sizes with breakpoints

.fs-0-875rem-lg-1-125rem {
  font-size: $custom-fs-0-875rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-1-125rem;
  }
}

.fs-1rem-lg-1-25rem {
  font-size: 1rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-1-25rem;
  }
}

.fs-1-5rem-lg-2-25rem {
  font-size: $custom-fs-1-5rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-2-25;
  }
}

.fs-1-5rem-lg-1-25rem {
  font-size: $custom-fs-1-5rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-1-25rem;
  }
}

.fs-2-rem-lg-1-25rem {
  font-size: $custom-fs-2rem;

  @include media-breakpoint-up("lg") {
    font-size: $custom-fs-1-25rem;
  }
}

// Media queries

@media screen and (max-width: 991px) {
  // Navigation

  .font-change-menu {
    font-family: "Source Serif 4";
  }
  .font-change-color {
    color: #fff;
  }

  .nav-links {
    background: $main-color-dark;
    padding: 50px;
    position: fixed;
    right: -125%;
    top: 0;
    transition: right 0.5s ease-in;
  }

  .with-menu .nav-links {
    right: 0;
    transition: right 0.3s ease-out;
    z-index: 300;
  }
}

// body .with-menu {
//   overflow: hidden;
// }
